**/.vs
**/.git
**/bin
**/obj
**/node_modules
*.db
.DS_Store
docker-compose.override.yml
*.pdb
*.user
*.suo
**/TestResults/
**/.vscode/
**/appsettings.Development.json
**/appsettings.Local.json
**/launchSettings.json
**/.dockerignore
**/.gitignore
**/Dockerfile*
**/docker-compose*
**/README.md
**/.env.local